body {
    background-color: #f9fafb;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul, .home-logo {
    background-color: #ffffff;
}


.home-logo {
    display: block;
    margin: auto -7px;
    padding-left: 10px;
    text-align: left;
    border-bottom-style: ridge;
    border-bottom-color: #ecedee ;
}

body .page-title  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

ul {
    display: flex;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #ecedee;
    margin: auto;
    padding: 50px;
}

.recipe {
    margin: 50px auto;
    font-family: 'Courier New', Courier, monospace;
}